# Archivos grandes rastreados con Git LFS
*.zip filter=lfs diff=lfs merge=lfs -text
*.bin filter=lfs diff=lfs merge=lfs -text
*.mp4 filter=lfs diff=lfs merge=lfs -text
*.exe filter=lfs diff=lfs merge=lfs -text
C:/Todo[[:space:]]Kodi/Todo[[:space:]]Kodi/Proyecto[[:space:]]Wizard/wizard[[:space:]]Final/mikicuenta_lfs_ready/mikicuenta-wizard/MikiCuentaBuild_AeonNoxsilvo.zip filter=lfs diff=lfs merge=lfs -text
C:/Todo[[:space:]]Kodi/Todo[[:space:]]Kodi/Proyecto[[:space:]]Wizard/wizard[[:space:]]Final/mikicuenta_lfs_ready/mikicuenta-wizard/MikiCuentaKodi_Simple.zip filter=lfs diff=lfs merge=lfs -text
C:/Todo[[:space:]]Kodi/Todo[[:space:]]Kodi/Proyecto[[:space:]]Wizard/wizard[[:space:]]Final/mikicuenta_lfs_ready/mikicuenta-wizard/MikiCuentaBuild_AeonNoxsilvo.zip filter=lfs diff=lfs merge=lfs -text
C:/Todo[[:space:]]Kodi/Todo[[:space:]]Kodi/Proyecto[[:space:]]Wizard/wizard[[:space:]]Final/mikicuenta_lfs_ready/mikicuenta-wizard/MikiCuentaKodi_Simple.zip filter=lfs diff=lfs merge=lfs -text
C:/Todo[[:space:]]Kodi/Todo[[:space:]]Kodi/Proyecto[[:space:]]Wizard/wizard[[:space:]]Final/mikicuenta_lfs_ready/mikicuenta-wizard/MikiCuentaKodi_Simple.zip filter=lfs diff=lfs merge=lfs -text
